{
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "endOfLine": "crlf"
}
