@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #ffdfe7;
  --main-color-dark-shadow: #ccb2b9;
  --main-color-light-shadow: #ffffff;

  /* --main-dark-color: #ffdfe7; */
}
html {
  @apply bg-primary;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bg-primary {
  @apply bg-main dark:bg-darkMain;
}

.control {
  outline: none;
}
.control:disabled, .control.div-disabled {
  @apply text-gray-400;
  filter: brightness(0.97);
}

.neumorphism-10 {
  @apply bg-primary;
  box-shadow: 10px 10px 20px var(--main-color-dark-shadow),
    -10px -10px 20px var(--main-color-light-shadow);
}
.neumorphism-6 {
  @apply bg-primary;
  box-shadow: 6px 6px 12px var(--main-color-dark-shadow),
    -6px -6px 12px var(--main-color-light-shadow);
}
.neumorphism-5 {
  @apply bg-primary;
  box-shadow: 5px 5px 10px var(--main-color-dark-shadow),
    -5px -5px 10px var(--main-color-light-shadow);
}
.neumorphism-4 {
  @apply bg-primary;
  box-shadow: 4px 4px 8px var(--main-color-dark-shadow),
    -4px -4px 8px var(--main-color-light-shadow);
}
.neumorphism-3 {
  @apply bg-primary;
  box-shadow: 3px 3px 6px var(--main-color-dark-shadow),
    -3px -3px 6px var(--main-color-light-shadow);
}
.neumorphism-2 {
  @apply bg-primary;
  box-shadow: 2px 2px 4px var(--main-color-dark-shadow),
    -2px -2px 4px var(--main-color-light-shadow);
}
.neumorphism-1 {
  @apply bg-primary;
  box-shadow: 1px 1px 2px var(--main-color-dark-shadow),
    -1px -1px 2px var(--main-color-light-shadow);
}
.neumorphism-inset-5 {
  @apply bg-primary;
  box-shadow: inset 5px 5px 10px var(--main-color-dark-shadow),
    inset -5px -5px 10px var(--main-color-light-shadow);
}
.neumorphism-inset-4 {
  @apply bg-primary;
  box-shadow: inset 4px 4px 8px var(--main-color-dark-shadow),
    inset -4px -4px 8px var(--main-color-light-shadow);
}
.neumorphism-inset-3 {
  @apply bg-primary;
  box-shadow: inset 3px 3px 6px var(--main-color-dark-shadow),
    inset -3px -3px 6px var(--main-color-light-shadow);
}
.neumorphism-inset-2 {
  @apply bg-primary;
  box-shadow: inset 2px 2px 4px var(--main-color-dark-shadow),
    inset -2px -2px 4px var(--main-color-light-shadow);
}

button.neumorphism-5:hover:not(:disabled) {
  @apply neumorphism-4;
}
button.neumorphism-5:active:not(:disabled) {
  @apply neumorphism-2;
}

.neumorphism-input-text-wrapper input[type="text"] {
  background: none;
}
.neumorphism-input-text-wrapper:hover:not(.neumorphism-inset-2):not(
    .div-disabled
  ) {
  @apply neumorphism-inset-4;
}

input[type="checkbox"]:hover:not(:checked):not(:disabled) ~ .neumorphism-checkbox-dummy,
input[type="checkbox"]:not(:checked):not(:disabled) ~ .neumorphism-checkbox-dummy:hover,
input[type="checkbox"]:not(:checked):not(:disabled) ~ .neumorphism-checkbox-dummy:focus {
  @apply neumorphism-inset-2;
}
input[type="checkbox"]:checked:hover:not(:disabled) ~ .neumorphism-checkbox-dummy,
input[type="checkbox"]:checked:not(:disabled) ~ .neumorphism-checkbox-dummy:hover,
input[type="checkbox"]:checked:not(:disabled) ~ .neumorphism-checkbox-dummy:focus {
  @apply neumorphism-2;
}

.neumorphism-checkbox-ripple-active {
  animation-name: checkbox-ripple;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes checkbox-ripple {
  0% {
    opacity: 0.4;
    /* left: 50%;
    transform: translateX(-50);
    top: 50%;
    transform: translateY(-50%); */
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(200%);
    visibility: hidden;
  }
}

.neumorphism-tooltip .neumorphism-tooltip-text {
  width: max-content;
}
.neumorphism-tooltip-text.tooltip-top {
  margin-bottom: 0.5rem;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.neumorphism-tooltip-text.tooltip-bottom {
  margin-top: 0.5rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.neumorphism-tooltip-text.tooltip-left {
  margin-right: 0.5rem;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.neumorphism-tooltip-text.tooltip-right {
  margin-left: 0.5rem;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.neumorphism-tooltip:hover .neumorphism-tooltip-text {
  animation-name: show-tooltip;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.neumorphism-tooltip:not(:hover) .neumorphism-tooltip-text {
  animation-name: hide-tooltip;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes show-tooltip {
  from {
    @apply neumorphism-1;
    opacity: 0;
    visibility: visible;
  }
  20% {
    opacity: 1;
    filter: brightness(1);
  }
  100% {
    opacity: 1;
    filter: brightness(1.05);
    @apply neumorphism-10;
  }
}
@keyframes hide-tooltip {
  from {
    @apply neumorphism-10;
    opacity: 1;
    filter: brightness(1.05);
  }
  50% {
    @apply neumorphism-1;
    opacity: 0.8;
    filter: brightness(1);
  }
  to {
    @apply neumorphism-1;
    opacity: 0;
    visibility: hidden;
  }
}

