$neumorphism-themes: (
  light: (
    main: #ffdfe7,
    dark-shadow: #ccb2b9,
    light-shadow: #ffffff,
    text: #000000,
    disabled-text: #9ca3af,
    selection: #9214fc,
    selection-text: #ffffff,
    scroll: darken(#ffdfe7, 1.5%),
    hovered-scroll: darken(#ffdfe7, 3%),
  ),
  dark: (
    main: #42383d,
    dark-shadow: #241f22,
    light-shadow: #605158,
    text: #ffdfe7,
    disabled-text: #a38f95,
    selection: #e493ff,
    selection-text: #000000,
    scroll: lighten(#42383d, 3%),
    hovered-scroll: lighten(#42383d, 6%),
  ),
);

$max-neumorphism-level: 10;

@keyframes fade-in-animation {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: inline;
  }
  100% {
    display: inline;
    opacity: 1;
  }
}
@keyframes fade-out-animation {
  0% {
    display: inline;
    opacity: 1;
  }
  99% {
    display: inline;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.fade-in {
  animation-name: fade-in-animation;
  animation-duration: 0.08s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.fade-out {
  animation-name: fade-out-animation;
  animation-duration: 0.08s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@mixin neumorphism($level, $theme) {
  box-shadow: #{$level * 1px} #{$level * 1px} #{$level * 1.8px} map-get($theme, dark-shadow),
    -#{$level * 1px} -#{$level * 1px} #{$level * 1.8px} map-get($theme, light-shadow);
}
@mixin inset-neumorphism($level, $theme) {
  box-shadow: inset #{$level * 1px} #{$level * 1px} #{$level * 1.8px} map-get($theme, dark-shadow),
    inset -#{$level * 1px} -#{$level * 1px} #{$level * 1.8px} map-get($theme, light-shadow);
}

@mixin theme-styles($theme-name) {
  $theme: map-get($neumorphism-themes, $theme-name);
  $main-color: map-get($theme, main);
  $dark-shadow: map-get($theme, dark-shadow);
  $light-shadow: map-get($theme, light-shadow);
  $text-color: map-get($theme, text);
  $disabled-text-color: map-get($theme, disabled-text);
  $selection-color: map-get($theme, selection);
  $selection-text-color: map-get($theme, selection-text);
  $scroll-color: map-get($theme, scroll);
  $hovered-scroll-color: map-get($theme, hovered-scroll);

  body {
    background-color: $main-color;
    color: $text-color;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .bg-primary {
    background-color: $main-color;
  }
  .text-primary {
    color: $text-color;
  }
  .text-disabled {
    color: $disabled-text-color;
  }
  .stroke-primary {
    stroke: $text-color;
  }
  ::selection {
    background-color: $selection-color;
    color: $selection-text-color;
  }
  ::-moz-selection {
    background-color: $selection-color;
    color: $selection-text-color;
  }

  ::-webkit-scrollbar {
    width: 0.75rem;
    border-radius: 2px;
    &:disabled {
      display: none;
    }
  }
  ::-webkit-scrollbar-track {
    @include inset-neumorphism(5, $theme);
    border-radius: 0.5rem;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $scroll-color;
    border: $main-color solid 3px;
    &:hover {
      background-color: $hovered-scroll-color;
      border: $main-color;
    }
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-corner {
    @include neumorphism(2, $theme);
  }

  .control {
    outline: none;
  }
  .control:disabled,
  .control.div-disabled {
    @extend .text-disabled;
    filter: brightness(0.97);
  }

  @for $level from 0 through $max-neumorphism-level {
    .neumorphism-#{$level} {
      @extend .bg-primary;
      @include neumorphism($level, $theme);
    }

    .neumorphism-inset-#{$level} {
      @extend .bg-primary;
      @include inset-neumorphism($level, $theme);
    }
  }

  /*#region Button*/
  button {
    filter: contrast(1.05);
  }
  button.neumorphism-6:hover:not(:active):not(:disabled) {
    @extend .neumorphism-3;
  }
  button.neumorphism-6:active:not(:disabled) {
    @extend .neumorphism-2;
  }
  /*#endregion*/

  /*#region TextBox*/
  ::placeholder {
    color: $text-color;
    opacity: 0.5;
  }

  .neumorphism-input-text-wrapper input[type="text"] {
    background: none;
  }
  .neumorphism-input-text-wrapper.neumorphism-inset-5:hover:not(.div-disabled) {
    @extend .neumorphism-inset-4;
  }
  /*#endregion*/

  /*#region Checkable CheckBox & Radio*/
  .neumorphism-checkable-dummy-checked-animation {
    animation-name: check-pop-up-from-ripple-#{$theme-name};
    animation-duration: 0.4s;
    animation-fill-mode: none;
    animation-timing-function: ease-out;
    @include neumorphism(4, $theme);
  }
  @keyframes check-pop-up-from-ripple-#{$theme-name} {
    from {
      @include neumorphism(0, $theme);
    }
    60% {
      @include neumorphism(0, $theme);
    }
    to {
      @include neumorphism(4, $theme);
    }
  }
  .neumorphism-checkable-ripple-animation {
    animation-name: checkable-ripple-#{$theme-name};
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  @keyframes checkable-ripple-#{$theme-name} {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(200%);
      visibility: hidden;
    }
  }
  input:hover:not(:checked):not(:disabled) ~ .neumorphism-checkable-dummy,
  input:not(:checked):not(:disabled) ~ .neumorphism-checkable-dummy:hover,
  input:not(:checked):not(:disabled) ~ .neumorphism-checkable-dummy:focus {
    @include inset-neumorphism(2, $theme);
  }
  input:checked:hover:not(:disabled) ~ .neumorphism-checkable-dummy,
  input:checked:not(:disabled) ~ .neumorphism-checkable-dummy:hover,
  input:checked:not(:disabled) ~ .neumorphism-checkable-dummy:focus {
    @include neumorphism(2, $theme);
  }
  /*#endregion*/

  /*#region Tooltip*/
  .neumorphism-tooltip .neumorphism-tooltip-text {
    width: max-content;
  }
  .neumorphism-tooltip-text.tooltip-top {
    margin-bottom: 0.5rem;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .neumorphism-tooltip-text.tooltip-bottom {
    margin-top: 0.5rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .neumorphism-tooltip-text.tooltip-left {
    margin-right: 0.5rem;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .neumorphism-tooltip-text.tooltip-right {
    margin-left: 0.5rem;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .neumorphism-tooltip:hover .neumorphism-tooltip-text {
    animation-name: show-tooltip-#{$theme-name};
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  .neumorphism-tooltip:not(:hover) .neumorphism-tooltip-text {
    animation-name: hide-tooltip-#{$theme-name};
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes show-tooltip-#{$theme-name} {
    from {
      opacity: 0;
      visibility: visible;
      @include neumorphism(1, $theme);
    }
    20% {
      opacity: 1;
      filter: brightness(1);
    }
    100% {
      opacity: 1;
      filter: brightness(1.05);
      @include neumorphism(8, $theme);
    }
  }
  @keyframes hide-tooltip-#{$theme-name} {
    from {
      @include neumorphism(10, $theme);
      opacity: 1;
      filter: brightness(1.05);
    }
    50% {
      @include neumorphism(1, $theme);
      opacity: 0.8;
      filter: brightness(1);
    }
    to {
      @include neumorphism(1, $theme);
      opacity: 0;
      visibility: hidden;
    }
  }
  /*#endregion*/
}

:not(.dark) {
  @include theme-styles(light);
}
.dark {
  @include theme-styles(dark);
}

